<h1>{{title}}</h1>

<form action="" method="post">
  <fieldset>
    <label for="name">
      Name:
    <input type="text" name="name" required="true" {{#if item}}value="{{item.name}}"{{/if}}>
    </label>
  </fieldset>
  <fieldset>
    <label for="description">
      Description:
      <br>
    <textarea name="description" required="true" rows="4">{{#if item}}{{item.description}}{{/if}}</textarea>
    </label>
  </fieldset>
  <fieldset>
    <label for="category">
      Category:
    <select name="category" id="">
      {{#each categories}}
      <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    </label>
  </fieldset>
  <fieldset>
    <label for="price">
      Price:
    <input type="number" name="price" min="1" required="true" {{#if item}}value="{{item.price}}"{{/if}}>
    </label>
  </fieldset>
  <fieldset>
    <label for="stock">
      Stock:
    <input type="number" name="stock" required="true" {{#if item}}value="{{item.stock}}"{{/if}}>
    </label>
  </fieldset>
  <fieldset>
    <input type="submit" value="Submit">
  </fieldset>
</form>

{{#if errors}}

{{errors}}

{{/if}}