<h1>{{title}}: {{item.name}}</h1>

<p>
  {{item.description}}
</p>
<p>
  <a href="{{item.category.url}}">
    {{item.category.name}}
  </a>
</p>
<p>
  {{item.price}}
</p>
<p>
  {{item.stock}}
</p>
<p>
  <a href="{{item.url}}/update">Update</a>
</p>